<h2>My Heroes</h2>
<ul class="heroes">
  <li let *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}.</span>{{hero.name}}
    </a>
    <button type="button" class="delete" title="delete hero"
            (click)="delete(hero)">x</button>
  </li>
</ul>
<div>
  <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" placeholder="name" formControlName="name">
    </div>

    <div>
      <label for="hero-date-of-birth">Hero Date Of Birth: </label>
      <input id="hero-date-of-birth" type="date" placeholder="date of birth" formControlName="dateOfBirth">
    </div>

    <div>
      <label for="hero-description">Hero Description: </label>
      <input id="hero-description" placeholder="description" formControlName="description">
    </div>
    <button type="submit" [disabled]="!heroForm.valid">ADD Hero</button>
  </form>
</div>



